.DS_Store

/db/redis/cluster/node*
/db/redis/cluster/logs

/db/redis/standalone/node*
/db/redis/standalone/logs

/db/mysql/standalone/node/*

/db/postgres/standalone/node/*

/openresty/openresty_standalone/config/logs/*
